
.main{
	max-width: 1199px;
	margin:auto;
	background-color: #eeeeee;
}
.container{
	padding: 0 160px;
	margin:auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.container_column{	
	flex-direction: column;
}
.navigation{
	display: flex;
	justify-content: space-between;
	margin-top:27px;
	align-items: center;
}
.navigation__menu{	
	width: 560px;
	margin:0;
}
.nav-menu-list{
list-style: none;
}
.nav-menu-list__link{
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}
.nav-menu-list__link:hover{
	color: #fb565a;
	}
.nav-menu-list__link:active{
	color: #8f8f8f;
	}
	.nav-menu-list__link_cart{
	padding-left: 70px;
}
.navigation__slider{
	margin:55px 0;
}





.head-main{
	margin-top:20px;
	margin-bottom: 50px;
	align-items: flex-start;
}
.main-navigation_item{
	margin-top:30px;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	list-style: none;
	text-transform: uppercase;
}
.logo__current{
	padding-right: 110px;
}


.head-main{
	margin-top:20px;
	margin-bottom: 50px;
	align-items: flex-start;
}
.btn{
	display: block;
	padding:10px 40px;
	width:150px;
	text-align: center;
	background-color: #fb565a;
	border-radius: 4px;
	text-decoration: none;
	text-transform: uppercase;
	color:white;
}
.btn:hover{
	background-color: #d6494d;
	}
	.btn:active{
	background-color: #b63538;
	}
.slider-text{
	text-transform: none;
	margin-bottom: 40px;
}
.main_items{
	padding:80px 0;
	display: flex;
	justify-content: space-between;
	list-style: none;

	border-bottom:2px solid black;
}
.main_items-item{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}