body{
	font-family: "Roboto", "Arial", sans-serif;
}
.header{
	max-width: 879px;
	margin:auto;
	background-color: #eeeeee;
	padding: 27px 160px;
	display: flex;
	justify-content: space-between;
}
.nav__list{
	max-width: 650px;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top:27px;
	align-items: center;
}
.nav__list li{
	text-transform: uppercase;
	padding-left:45px;
}
.nav__list a{
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 30px;
	font-weight: bold;
	color: #3f3f3f;
	text-decoration: none;
}
.nav__link:hover{
	color: #fb565a;
}
.nav__link:active{
	color: #8f8f8f;
}
.nav__link--active{
	border-bottom:2px solid #fb565a;
}
.nav__link--cart{
	position: relative;
	padding-left:25px;
	margin-left: 100px;
}
.cart__svg{
	position:absolute;
	display: inline-block;
	top:-5px;
	left:0;
	fill: #a6a6a6;
}
.nav__link:hover .cart__svg{
	fill: #fb565a;
}
.nav__link:active .cart__svg{
	fill: #cbcbcb;
}
.slider{
	background-color: #eeeeee;
	padding: 10px 160px 62px 160px;
	display: flex;
	justify-content: space-between;
}
.slider-1{
	display: none;
}
.slider-2{
	display: none;
}
.slider-3{
	display: none;
}
.slider__left h2{
	margin-top:20px;
	margin-bottom:18px;
	font-size: 36px;
	line-height: 36px;
}
.slider__left p{
	font-size: 16px;
	line-height: 22px;	
	margin-bottom:25px;
}
.btn{
	display: inline-block;
	padding:10px 38px;
	text-align: center;
	background-color: #fb565a;
	border-radius: 4px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 12px;
	line-height: 18px;	
	border:0;
}
.btn:hover{
	background-color: #d6494d;
}
.btn:active{
	box-shadow: inset 0  3px 1px 0 #9b2d30;
	background-color: #b63538;
}
.btn--app{
	background-color: #00ca74;
}
.btn--app:hover{
	background-color: #01a25e;
}
.btn--app:active{
	box-shadow: inset 0  3px 1px 0 #007b47;
	background-color: #009053;
}
.btn--present{
	background-color: #efc84a;
}
.btn--present:hover{
	background-color: #d6ae2c;
}
.btn--present:active{
	box-shadow: inset 0  3px 1px 0 #a3841f;
	background-color: #c09b24;
}
.btn--slider{
	padding:10px 68px;
}
.main{
	max-width: 1199px;
	margin:auto;
}
.main-items{
	display: flex;
	justify-content: space-between;
	margin:80px 160px 0 160px;
	list-style: none;
	padding:0;
	min-height: 380px;
	border-bottom: 2px solid #eeeeee;
}
.main-items__item h3{
	max-width: 240px;
	font-size: 18px;
	line-height: 30px;	
	text-transform: uppercase;
}
.main-items__item p{
	font-size: 15px;
	line-height: 22px;		
	max-width: 240px;
	margin-bottom: 25px;
}
.about-us{
	border-bottom:2px solid #eeeeee;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin:40px 160px;
	font-size: 16px;
	line-height: 22px;
}
.about-us__top,
.about-us__bottom{
	display: flex;
	justify-content: space-between;
}
.about-us__up h2{
	font-size: 36px;
	line-height: 36px;		
	margin-bottom: 20px;
}
.about-us__up{
	max-width: 600px;
}
.about-us__logo{
	margin-top:10px;
}
.about-us__bottom{
	font-size: 16px;
	line-height: 22px;
	padding-bottom: 32px;
}
.about-us__paragraph{
	margin:0;		
}
.subs-table__right{
	width: 240px;
}
.about-us__ul{
	list-style: none;
	padding: 0;
}
.subs-table li{
	padding-left: 35px;
	padding-bottom: 22px;
	position:relative;
}
.subs-table li::before{
	content:"";
	display: block;
	position: absolute;
	width:25px;
	height: 2px;
	background: #fb565a;
	top:10px;
	left:0;
}
.main-customers{
	min-height: 125px;
	border-bottom:2px solid #eeeeee;
	display: flex;
	justify-content: space-between;
	margin:40px 160px;
	margin-bottom: 86px;
}
.customer-img{
	opacity: 0.2;
}
.customer-img:hover,
.customer-img:active{
	opacity: 1;
}
.map{
	position: relative;

}
.map__contacts{
	position:absolute;
	z-index: 10;
	top:89px;
	left:160px;
	padding: 26px 24px 24px 24px;
	background: #ffffff;
}
.map__contacts b{
	font-size: 16px;
	line-height: 30px;
	text-transform: uppercase;
}
.map__contacts p{
	font-size: 16px;
	line-height: 20px;
	color:#666666;
	padding-bottom: 6px;
}
.map__contacts a{
margin-left: 30px;
}
.footer{
	display: flex;
	justify-content: flex-start;
	padding:61px 160px;
	max-width: 879px;
	margin:auto;
}
.footer__social{
	margin-right:50px;
}
.social-btn{
	display: inline-block;
	width: 62px;
	height: 62px;
	border-radius: 50%;
	margin-right: 25px;
	font-size: 0;
}
.social-btn__vk:hover{
	background: #fb565a url("../img/vk.svg") no-repeat center;
}
.social-btn__fb:hover{
	background: #fb565a url("../img/fb.svg") no-repeat center;
}
.social-btn__inst:hover{
	background: #fb565a url("../img/insta.svg") no-repeat center;
}
.social-btn__vk:active{
	box-shadow: inset 0  3px 3px 0 #b63e42;
	background: #d6494d url("../img/vk.svg") no-repeat center;
}
.social-btn__fb:active{
	box-shadow: inset 0  3px 3px 0 #b63e42;
	background: #d6494d url("../img/fb.svg") no-repeat center;
}
.social-btn__inst:active{
	box-shadow: inset 0  3px 3px 0 #b63e42;
	background: #d6494d url("../img/insta.svg") no-repeat center;
}
.social-btn__vk{
background: #e1e1e1 url("../img/vk.svg") no-repeat center;
}
.social-btn__fb{
background: #e1e1e1 url("../img/fb.svg") no-repeat center;
}
.social-btn__inst{
background: #e1e1e1 url("../img/insta.svg") no-repeat center;
}
.footer__discount h2{
	font-size: 36px;
	line-height: 36px;
	margin:10px 0;
}
.footer__discount p{
	color:#283136;
	font-size: 16px;
	line-height: 22px;
	margin-top:0;
}
.popup{
	z-index: 30;
	display: none;
	position: fixed;
	top:250px;
	left:50%;
	width: 460px;
	height: 316px;
	background: #ffffff;
	color:#000000;
	padding:50px 80px;
	margin-left: -310px;
	box-shadow: 0  20px 40px 0 #858585;
}
.popup__lable--name{
	float:left;
}
.popup__lable--email{
	float:right;
}
.popup__btn{
	position: absolute;
	padding: 0;
	right:5px;
	top: 5px;
	width: 42px;
	height: 42px;
	background: #fb565a;
	font-size: 0;
	border:0;
	outline:0;
	cursor: pointer;
	border-radius: 50%;
}
.popup__btn:hover{
	background-color: #d6494d;
}
.popup__btn:active{
	box-shadow: inset 0  3px 1px 0 #9b2d30;
	background-color: #b63538;
}
.popup__btn::before,
.popup__btn::after{
	top:18px;
	left:9px;
	content: "";
	position: absolute;
	width: 25px;
	height: 5px;
	background:#ffffff;
	border-radius: 2px;
}
.popup__btn::before{
	transform: rotate(45deg);
}
.popup__btn::after{
	transform: rotate(-45deg);
}
.btn--popup{
	cursor: pointer;
	width:100%;
	margin-top:28px;
}
.popup__textarea{
	box-sizing: border-box;
	width:100%;
	resize:none;
}
.write-us__form{	
	font-size: 16px;
	line-height: 18px;
	font-weight: bold;
}
.write-us__form input[type="text"],
.write-us__form textarea{
	padding: 8px 14px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	border:2px solid #d7dcde;
	border-radius: 4px;
	outline: none;
	margin: 11px 0 22px 0;
}
.write-us__form input[type="text"]{
	box-sizing: border-box;
	width: 216px;
}
.write-us__form input[type="text"]:focus,
.write-us__form textarea:focus{
	border:2px solid #56bffb;	
}
.write-us__form input[type="text"]:hover,
.write-us__form textarea:hover{
	border:2px solid #a2a9ac;	
}
.popup--show{
	display: block;
	animation: bounce 0.6s;
}
@keyframes bounce {
0% { transform: translateY(2000px); }
70% { transform: translateY(-30px); }
90% { transform: translateY(10px); }
100% { transform: translateY(0); }
}
@keyframes shake {
0%, 100% { transform: translateX(0); }
10%, 30%, 50%, 70%, 90% { transform: translateX(-2px); }
20%, 40%, 60%, 80% { transform: translateX(2px); }
}
.popup--error{
	animation: shake 0.3s;
}
.slider--show{
	display: flex;
}
.sliders{
	position: relative;
}
.slider-form__radio{
	bottom:30%;
	left:50%;
	position: absolute;
}
